body {
    background-color: #f9f9f9;
    margin: 0;
    color: #333;
    line-height: 1.6;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 20px auto;
}
.main-image {
    max-width: 90%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: block;
    margin: 20px auto;
} 
